body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f7f9fa;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: aliceblue;
}

#logo {
    height: 80px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
}

.login-box {
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin-top: 40px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 30px;
    border-top: 2px solid #41b782;
    padding-top: 10px;
}

.login-box label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid #41b782;
    border-radius: 25px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: white;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    border: 1px solid #41b782;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-box button:hover {
    background-color: #41b782;
    color: white;
}

.login-box .link {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.login-box .link a {
    color: #41b782;
    text-decoration: none;
    font-weight: bold;
}

.login-box .link a:hover {
    text-decoration: underline;
}